.about-me {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
   
    position: relative;
    animation: fadeInLeft 1s forwards;
    color:#ccc;
    h1 {
       
        font-family: serif;
        font-weight: 400;
        color: #ccc;
        font-size: 50px;
    }

    p {
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;

        &:nth-of-type(1) {
            animation-delay: 0.5s;
        }
        &:nth-of-type(2) {
            animation-delay: 0.5s;
        }
        &:nth-of-type(3) {
            animation-delay: 0.5s;
        }

    }
  }
  .content {
    display: flex;
    flex-wrap: wrap;
  }


  .myImage{
    margin-top: auto;
    width: auto;
    height: 100%;
    display: block;
    align-items: start;
  }

 .summary{
  width: 80%;
  margin-left: auto;
 }

  img {
    width: 200px;

  }
  .stage-cube-cont {
 
    transform: scale(0.8);

    width: 50%;
    height: 90%;
   
    animation: fadeIn 6s forwards;
    top: 5%;
    padding-top: 12%;
    position: absolute;
    right: 25%;
    margin-bottom: 0%;
    overflow: hidden;
  }
  .cubespinner {
    

    animation-name: spincube;
    margin-top: 40%;
    
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-duration: 12s;
    transform-style: preserve-3d;
    transform-origin: 100px 100px 0;
    margin-left: calc(50% - 100px);
  
    div {
      position: absolute;
      width: 200px;
      height: 200px;
      border: 1px solid #ccc;
      background: rgba(255, 255, 255, 0.4);
      text-align: center;
      font-size: 100px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 20px 0px lightyellow;
    }

  .face1 {
    transform: translateZ(100px);
    color: #dd0031;
  }
  .face2 {
    transform: rotateY(90deg) translateZ(100px);
    color: #f06529;
  }
  .face3 {
    transform: rotateY(90deg) rotateX(90deg) translateZ(100px);
    color: #28a4d9;
  }
  .face4 {
    transform: rotateY(180deg) rotateZ(90deg) translateZ(100px);
    color: #5ed4f4;
  }
  .face5 {
    transform: rotateY(-90deg) rotateZ(90deg) translateZ(100px);
    color: #efd81d;
  }
  .face6 {
    transform: rotateX(-90deg) translateZ(100px);
    color: #ec4d28;
  }
}


@keyframes spincube {
  from,
  to {
    transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    transform: rotateY(-90deg) rotateZ(90deg);
  }
  33% {
    transform: rotateY(-90deg) rotateX(90deg);
  }
  50% {
    transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    transform: rotateX(90deg);
  }
}

.about-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #004fa0;
    color: white;
    margin-top: 30%;
    right: 0;
    left: 0;
    bottom: 0;
    
    h1{
        color: #ccc;
    }
    .links {
        width: 50%;
        display: block;
        justify-content: space-evenly;
        text-align: center;
        margin-bottom: 5px;
    }
    a {
        font-size: 40px;
        margin-bottom: 5%;
        margin: 20px;
    }
    svg {
        color: #d8dce7;
        width: 50px;
        &:hover{
            animation: bounce 1s;
        }
    }
}
