.nav-bar {
  background: #181818;
  width: 100%;
  height: 60px;
  min-width: 500px;
  top: 0;
  left: 0;
  position: absolute;




  nav {
    display: flex;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    top: 100%;
    .portfolio-active, .about-active, .resume-active, .contact-active {
      color: #3254a8;
      &:before {
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 1; 
        &:hover {
          display: none;
        }
      } 

      svg {
        opacity: 0;
        
  }
    }
    .portfolio-active {
      &:before {
        content: "PORTFOLIO";
      }
    }
    .about-active {
      &:before {
        content: "ABOUT";
      }
    }
    .resume-active {
      &:before {
        content: "RESUME";
      }
    }
    .contact-active {
      &:before {
        content: "CONTACT";
      }
  }

    a {
      font-size: 22px;
      color: #4d4d4e;
      display: block;
      line-height: 51px;
      height: 51px;
      position: relative;
      text-decoration: none;

      svg {
        color: #3254a8;
        transition: all 0.3s ease-out;
      }
     


      &:hover {
        color: #3254a8;

        svg {
          opacity: 0;
        }

        &:after {
          opacity: 1;
        }
      }

      &:after {
        content: "";
        font-size: 12px;
        letter-spacing: 2px;
        position: absolute;
        bottom: 0;
        display: block;
        width: 100%;
        text-align: center;
        opacity: 0;
        -webkit-transition: all 0.3s ease-out;
        transition: all 0.3s ease-out;
      }

      &:first-child {
        &:after {
          content: "ABOUT";
        }
      }
      &:nth-child(2) {
        &:after {
          content: "PORTFOLIO";
        }
      }
      &:nth-child(3) {
        &:after {
          content: "RESUME";
        }
      }
      &:last-child {
        &:after {
          content: "CONTACT";
        }
      }
    }
  }
}

.active-linkerdinker {
  color: #32a865;
  svg {
    opacity: 0;
    
  }
  &:after {
    opacity: 1;
  }

}

.active-linkerdinker {
  color: #32a865;
  a {
    color: #32a865;
  }
  svg {
    color: #32a865;
    
  }
  &:after {
    opacity: 1;
  }

}
